
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


   

 /* .wholepage{
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: 3fr  1fr;
 
     /* font-family: 'Inconsolata', monospace; */
 
/* 
 .para1{
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
 }

 .post{
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
 } */