
<section class="wholepage">
    <h2>Check the weather and decide indoor or outdoor activity:</h2>
    <input [(ngModel)]="zip" type="text" placeholder="Zip Code Here"/>
  
    <input (click)="findWeather(zip)" type="submit" value="Search"/>
  </section>
  
  <section class="wholepage" *ngIf="weather">
    <h3>Today's weather in {{weather.name}}   <img class="imgweather" src="/assets/images/weather.png" /> </h3>
  <p>Currently {{weather.weather[0].description}}</p>
  
  <p>There's high of {{weather.main.temp_max}} degrees and low of {{weather.main.temp_min}} degrees!</p>
  
  </section>
