
<div class = "wholepage">
    <br>
<p class="para">Keeping your children active and busy during the winter can be tough.
     If you want to go outside with them, you need to fight the bundling up battle.
      But, there are only so many things you can do inside and outside!
      <br><br>

   To help you out, I rounded up our favorite winter activities and inspirations for kids, 
    both indoors and outdoors, so that you can avoid bored kiddos during 
    the cold months.</p>

    <img class="image" src="/assets/images/family-pic.jpeg" />
<!-- 
    <div >
        <button  (click)="getAllActivity()" type="checkbox" >Show All Activities</button>
          <div >Fun Inspirations </div>
          <div>Name:{{activity[0].name}}</div>
          <div>Description: {{activity.description}}</div>
         
      </div>   -->

</div>

