
<div class = "wholepage">
    <br>
<div class="para">Keeping your children active and busy during the winter can be tough.
     If you want to go outside with them, you need to fight the bundling up battle.
      But, there are only so many things you can do inside and outside!
      <br><br>

   To help you out, I rounded up our favorite winter activities and inspirations for kids, 
    both indoors and outdoors, so that you can avoid bored kiddos during 
    the cold months.
    <br><br><br><br><br>
    <h2 >List of all fun activities</h2>
</div>

    <img class="image" src="/assets/images/family-pic.jpeg" />
    <div class="activity">
     
      <div class="text-secondary" *ngFor="let activity of activities" >
        <div >
    <div class="h4">Name:{{activity.name}}</div>
    
    
    <div >Details: {{activity.description}}</div>
    <br><br>
    </div>
    </div>
    </div>
</div>

