/* @import "~bootstrap/dist/css/bootstrap.css" */


 /* .dropbtn {
    background-color: #04AA6D;

      color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
/* 
 .nav-container {
  
    font-family: 'Inconsolata', monospace;
  
}  */
.load-img {
  background-image: url("/assets/images/snowfun.jpeg");
  width: 1450px;
   height: 730px;
  
}
#brand{
  font-size: 48px;
  font-family: 'Inconsolata', monospace;
}

#sitesearch {
  margin-right: 250px;

}
#nav1{
  color:rgb(111, 111, 117);
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  padding: 15px;

}
#nav2{
  color:rgb(111, 111, 117);
  font-size: 19px;
  font-family: 'Inconsolata', monospace;
  padding: 15px;

}

#nav3{
  color:rgb(111, 111, 117);
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  
  margin-left: 330px;

}

#navlink{
  color:rgb(111, 111, 117);
  font-size: 16px;
  font-family: 'Inconsolata', monospace;

}
#homelink{
  color:rgb(111, 111, 117);
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  padding: 15px;

}
#inputsearch{
  width: 500px;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
     display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .searchbox{
    padding-right: 200px;
  }
  #sitesearch {
    width: 250px !important;
    position: relative;
    right: 0;
}
 