<div class="nav-container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" id="brand">Epiphany-Fun!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/homepage" id="homelink">Home</a>
        </li>
      

         <!-- <li ngbDropdown class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" id="navbarDropdown"
          role="button" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
            Activities
          </a>
          <div ngbDropdownMenu="activitypage" class="dropdown-menu" aria-labelledby="navbarDropdown">
        
            <li><a ngbDropdownItem class="dropdown-item" routerLink="/activitypage">Activity page</a></li>
         
          </div>
          </li> -->
          <div class="dropdown" ngbDropdown class="nav-item dropdown" >
            <a  class="nav-link dropdown-toggle" id="navbarDropdown"
            role="button" ngbDropdownToggle aria-haspopup="true" aria-expanded="false" id="nav1">Activity Page</a>
            <div class="dropdown-content" >
              <a  routerLink="/activitypage" id="navlink">All Activities</a>
              <a  routerLink="/activity" id="navlink">Outdoor Fun</a>
              <a  routerLink="/" id="navlink">Indoor Inspirations</a>
           
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" id="nav2">Want to Post a fun activity?</a> 
          </li> 
          
      </ul>
      <form class="d-flex" id="sitesearch" >
        <input class="form-control me-2" type="search" placeholder="Search for activities" aria-label="Search" id="inputsearch">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>

    </div>
  </div>
  
</nav>

</div>


<router-outlet></router-outlet>
<app-homepage></app-homepage>

